@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.container {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.left-section {
  margin-right: 20px;
}



.right-section {
  display: flex;
  flex-direction: column;
}

.inputs {

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

.button_violet {
  width: 120px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button_violet:hover {
  background-color: purple;
}
.button_blank {
  padding: 3px;
  text-align: center;
  margin-top: 15px;
  width: 120px;
  height: 40px;
  background-color: rgb(196, 186, 186);
  color: rgb(0, 0, 0);
}