/* This is */
head {
    font: ;
    font-size: 40;
    text-align: center
}
title{
    font-size: 50
    font: Courier;
    color: blue
}
p{
    font-size: 20px;
    text-align: center;
    color: blue
}
body{
    color: blue;
    font-size: 27px;
    font: Open Sans;
}
div {
    background-color: white}
#myid1 {
    text-align: center;
    background-color:brown
}

.textbox{
    float:left;
    width: 20%;
    margin-right: 40%;
        margin-left: 40%;
    margin-bottom: 1% 
 

}

.button {
        float:left;
    width: 20%;
    margin-right: 40%;
        margin-left: 40%;
 
    background-color: skyblue;
    font: 
    color: white;
text-align: center;
      
}
